@model KontrolerZadanie.Models.MessageDetails
@{
    ViewBag.Title = "EmailConfirmation";
    Layout = "~/Views/_LayoutView.cshtml";
}

<h2>EmailConfirmation</h2>

<hr/>

@*@Html.Partial("_MessageDetailsPartial", Model)*@

@Html.DisplayFor(x => x)