@model KontrolerZadanie.Models.MessageDetails

<div>  
    <ul>
        <li>Nadawca: @Model.email</li>
        <li>Temat: @Model.subject</li>
        <li>Treść wiadomości: @Model.messageDetails</li>
    </ul>
</div>