
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>@ViewBag.Title</title>
        <style>
            .field-validation-error {
                color: red;
                font-weight: bold;
            }

            .input-validation-error {
                background: pink;
                border: 1px solid red;
            }
        </style>

        @RenderSection("TopScripts", required: false)
    </head>

    <body>
        <script src="~/Scripts/jquery-2.1.4.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    
        <div>
            @RenderBody()

        </div>
            @RenderSection("BottomScripts", required: false)

    </body>
</html>
